 @page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="https://media.ldscdn.org/images/media-library/gospel-art/new-testament/christ-teaching-the-people-39554-gallery.jpg" 
        alt="Image of Jesus Christ teaching" />
<p>
    On the night before His Crucifixion, Jesus Christ met with His Apostles and instituted the sacrament (see Luke 22:19–20). 
    After His Resurrection, He instituted the sacrament among the Nephites (see 3 Nephi 18:1–11). Today the sacrament is an ordinance in which Church members partake of bread and water in remembrance of Jesus Christ’s atoning sacrifice. 
    This ordinance is an essential part of worship and spiritual development. Through this ordinance, Church members renew the covenants they made with God when they were baptized.
</p>

